/*!
 * dynamic-jpeg-quality, 
 * @version 0.0.1
 * @date 2016-02-09, 20:14
 */.djq-settings{display:table-row}.djq-settings .bound-control input{width:50px;float:left}.djq-settings .bound-control label{float:left;clear:both;line-height:1.2em;margin-right:15px}.djq-settings .size-scaler{display:table-cell;min-width:150px;text-align:center}.djq-settings .size-scaler .demo{display:inline-block;background-color:#00A0D2}.djq-settings .size-scaler .percent{font-weight:700;color:#00A0D2}